In [31]:
import requests
import urllib.request
import babypandas as bpd
import numpy as np
import csv
from bs4 import BeautifulSoup

In [32]:
url= "https://care.diabetesjournals.org/content/43/7/1399.figures-only"
response = requests.get(url)
print(response.status_code)

200

In [33]:
soup = BeautifulSoup(response.text, "html.parser")

In [34]:
table = soup.findAll('div', {"class":"table-expansion"})[0]
table
values = []
tr = table.findAll(['tr'])[0:35]

In [54]:
csvFile = open("diabetes_journal1.csv", 'wt', newline='', encoding='utf-8')
writer= csv.writer(csvFile)
try:
    for cell in tr:
        th = cell.find_all('th')
        th_data = [col.text.strip('\n') for col in th]
        td = cell.find_all('td')
        row = [i.text.replace('\n', '') for i in td]
        writer.writerow(th_data+row)
finally:
    csvFile.close()

In [55]:
demographics = bpd.read_csv('diabetes_journal1.csv')
demographics

,Unnamed: 0,All patients (n = 904),Patients with confirmed COVID-19 (n = 341),Patients with clinically diagnosed COVID-19 (n = 563)
0,"Age, years",56.0 (39.0–67.0),58.0 (42.0–62.0),53.0 (37.0–66.0)†
1,0–19,3 (0.33),1 (0.29),2 (0.36)
2,20–39,237 (26.22),80 (23.46),157 (27.89)
3,40–69,489 (54.09),182 (53.37),307 (54.53)
4,70–99,175 (19.36),78 (22.87),97 (17.23)†
...,...,...,...,...
29,Clinical outcomes,NaN,NaN,NaN
30,No progression,431 (47.68),135 (39.59),296 (52.58)†
31,Severe progression,291 (32.19),107 (31.38),184 (32.68)
32,Critical progression,90 (9.96),45 (13.20),45 (7.99)†
33,Death,92 (10.18),54 (15.84),38 (6.75)†

In [37]:
age_info = demographics.loc[0:4]
age_info.assign(Age_Group=age_info.get("Unnamed: 0")).drop(columns="Unnamed: 0").set_index("Age_Group").reset_index().loc[1:4]

,Age_Group,All patients (n = 904),Patients with confirmed COVID-19 (n = 341),Patients with clinically diagnosed COVID-19 (n = 563)
1,0–19,3 (0.33),1 (0.29),2 (0.36)
2,20–39,237 (26.22),80 (23.46),157 (27.89)
3,40–69,489 (54.09),182 (53.37),307 (54.53)
4,70–99,175 (19.36),78 (22.87),97 (17.23)†

In [38]:
sex_info = demographics.loc[5:7]
sex_info.assign(Patient_Sex=sex_info.get("Unnamed: 0")).drop(columns="Unnamed: 0").set_index("Patient_Sex").reset_index().loc[1:3]

,Patient_Sex,All patients (n = 904),Patients with confirmed COVID-19 (n = 341),Patients with clinically diagnosed COVID-19 (n = 563)
1,Male,421 (46.57),183 (53.67),238 (42.27)†
2,Female,483 (53.43),158 (46.33),325 (57.73)†

In [39]:
symptoms_info = demographics.loc[8:16]
symptoms_info.assign(Initial_Symptoms=symptoms_info.get("Unnamed: 0")).drop(columns="Unnamed: 0").set_index("Initial_Symptoms").reset_index().loc[1:9]

,Initial_Symptoms,All patients (n = 904),Patients with confirmed COVID-19 (n = 341),Patients with clinically diagnosed COVID-19 (n = 563)
1,Fever (temperature ≥37.3°C),576 (63.72),216 (63.34),360 (63.94)
2,Cough,443 (49.00),170 (49.85),273 (48.49)
3,Fatigue,212 (23.45),77 (22.58),135 (23.98)
4,Dyspnea,122 (13.50),48 (14.08),74 (13.14)
5,Myalgia,117 (12.95),43 (12.61),74 (13.14)
6,Sputum,94 (10.40),32 (9.38),62 (11.01)
7,Diarrhea,47 (5.20),17 (4.99),30 (5.33)
8,Nausea or vomiting,20 (2.21),5 (1.47),15 (2.66)

In [40]:
comorbidities = demographics.loc[17:24]
comorbidities.assign(Preexisting_Conditions=comorbidities.get("Unnamed: 0")).drop(columns="Unnamed: 0").set_index("Preexisting_Conditions").reset_index().loc[1:8]

,Preexisting_Conditions,All patients (n = 904),Patients with confirmed COVID-19 (n = 341),Patients with clinically diagnosed COVID-19 (n = 563)
1,Diabetes,136 (15.04),49 (14.37),87 (15.45)
2,Hypertension,273 (30.20),125 (36.66),148 (26.29)†
3,Cardiovascular disease,91 (10.07),50 (14.66),41 (7.28)†
4,Nervous system disease,52 (5.75),27 (7.92),25 (4.44)†
5,Chronic kidney disease,42 (4.65),24 (7.04),18 (3.20)†
6,Chronic lung disease,22 (2.43),15 (4.40),7 (1.24)†
7,Tumor,19 (2.10),11 (3.23),8 (1.42)

In [41]:
covid_severity_info = demographics.loc[25:28]
covid_severity_info.assign(Initial_Disease_Severity=covid_severity_info.get("Unnamed: 0")).drop(columns=["Unnamed: 0"]).set_index("Initial_Disease_Severity").reset_index().loc[1:3]

,Initial_Disease_Severity,All patients (n = 904),Patients with confirmed COVID-19 (n = 341),Patients with clinically diagnosed COVID-19 (n = 563)
1,Moderate,813 (89.93),297 (87.10),516 (91.65)†
2,Severe,82 (9.07),39 (11.44),43 (7.64)
3,Critical,9 (1.00),5 (1.47),4 (0.71)

In [42]:
outcomes = demographics.loc[29:33]
outcomes
clean_outcomes = outcomes.assign(Clinical_Outcomes=outcomes.get("Unnamed: 0")).drop(columns=["Unnamed: 0"]).set_index("Clinical_Outcomes").reset_index().loc[1:4]
clean_outcomes

,Clinical_Outcomes,All patients (n = 904),Patients with confirmed COVID-19 (n = 341),Patients with clinically diagnosed COVID-19 (n = 563)
1,No progression,431 (47.68),135 (39.59),296 (52.58)†
2,Severe progression,291 (32.19),107 (31.38),184 (32.68)
3,Critical progression,90 (9.96),45 (13.20),45 (7.99)†
4,Death,92 (10.18),54 (15.84),38 (6.75)†

In [43]:
patient_count = bpd.DataFrame().assign(Patient_Group=["All Patients", "Confirmed COVID-19", "Clinically Diagnosed COVID-19"]).assign(count=[904, 341, 563])
patient_count

                   Patient_Group  count
0                   All Patients    904
1             Confirmed COVID-19    341
2  Clinically Diagnosed COVID-19    563

In [53]:
table2 = soup.findAll('div', {"class":"table-expansion"})[1]
table2
values2 = []
tr2 = table2.findAll(['tr'])[0:44]

csvFile2 = open("diabetes_journal2.csv", 'wt', newline='', encoding='utf-8')
writer2= csv.writer(csvFile)
try:
    for cell in tr2:
        th2 = cell.find_all('th')
        th_data2 = [col.text.strip('\n') for col in th2]
        td2 = cell.find_all('td')
        row2 = [i.text.replace('\n', '') for i in td2]
        writer2.writerow(th_data2+row2)
finally:
    csvFile2.close()

ValueError: I/O operation on closed file.

In [56]:
#bpd.read_csv("diabetes_journal2.csv")