In [2]:
import requests
import urllib.request
import babypandas as bpd
import numpy as np
import csv
from bs4 import BeautifulSoup

In [3]:
url= "https://care.diabetesjournals.org/content/43/7/1399.figures-only"
response = requests.get(url)
print(response.status_code)

200

In [92]:
soup = BeautifulSoup(response.text, "html.parser")

In [136]:
table = soup.findAll('div', {"class":"table-expansion"})[0]
table
values = []
tr = table.findAll(['tr'])[0:35]

In [137]:
csvFile = open("table1.csv", 'wt', newline='', encoding='utf-8')
writer= csv.writer(csvFile)
try:
    for cell in tr:
        th = cell.find_all('th')
        th_data = [col.text.strip('\n') for col in th]
        td = cell.find_all('td')
        row = [i.text.replace('\n', '') for i in td]
        writer.writerow(th_data+row)
finally:
    csvFile.close()

In [147]:
demographics = bpd.read_csv('table1.csv')
demographics

,Unnamed: 0,All patients (n = 904),Patients with confirmed COVID-19 (n = 341),Patients with clinically diagnosed COVID-19 (n = 563)
0,"Age, years",56.0 (39.0–67.0),58.0 (42.0–62.0),53.0 (37.0–66.0)†
1,0–19,3 (0.33),1 (0.29),2 (0.36)
2,20–39,237 (26.22),80 (23.46),157 (27.89)
3,40–69,489 (54.09),182 (53.37),307 (54.53)
4,70–99,175 (19.36),78 (22.87),97 (17.23)†
...,...,...,...,...
29,Clinical outcomes,NaN,NaN,NaN
30,No progression,431 (47.68),135 (39.59),296 (52.58)†
31,Severe progression,291 (32.19),107 (31.38),184 (32.68)
32,Critical progression,90 (9.96),45 (13.20),45 (7.99)†
33,Death,92 (10.18),54 (15.84),38 (6.75)†

In [170]:
age_info = demographics.loc[0:4]
age_info = age_info.assign(Age_Group=age_info.get("Unnamed: 0")).drop(columns="Unnamed: 0").set_index("Age_Group").reset_index().loc[1:4]
age_info = age_info.drop(columns="Patients with clinically diagnosed COVID-19 (n = 563)")
age_info

  Age_Group All patients (n = 904) Patients with confirmed COVID-19 (n = 341)
1      0–19               3 (0.33)                                   1 (0.29)
2     20–39            237 (26.22)                                 80 (23.46)
3     40–69            489 (54.09)                                182 (53.37)
4     70–99            175 (19.36)                                 78 (22.87)

In [169]:
sex_info = demographics.loc[5:7]
sex_info = sex_info.assign(Patient_Sex=sex_info.get("Unnamed: 0")).drop(columns="Unnamed: 0").set_index("Patient_Sex").reset_index().loc[1:3]
sex_info = sex_info.drop(columns="Patients with clinically diagnosed COVID-19 (n = 563)")
sex_info

,Patient_Sex,All patients (n = 904),Patients with confirmed COVID-19 (n = 341)
1,Male,421 (46.57),183 (53.67)
2,Female,483 (53.43),158 (46.33)

In [171]:
symptoms_info = demographics.loc[8:16]
symptoms_info = symptoms_info.assign(Initial_Symptoms=symptoms_info.get("Unnamed: 0")).drop(columns="Unnamed: 0").set_index("Initial_Symptoms").reset_index().loc[1:9]
symptoms_info = symptoms_info.drop(columns="Patients with clinically diagnosed COVID-19 (n = 563)")
symptoms_info

,Initial_Symptoms,All patients (n = 904),Patients with confirmed COVID-19 (n = 341)
1,Fever (temperature ≥37.3°C),576 (63.72),216 (63.34)
2,Cough,443 (49.00),170 (49.85)
3,Fatigue,212 (23.45),77 (22.58)
4,Dyspnea,122 (13.50),48 (14.08)
5,Myalgia,117 (12.95),43 (12.61)
6,Sputum,94 (10.40),32 (9.38)
7,Diarrhea,47 (5.20),17 (4.99)
8,Nausea or vomiting,20 (2.21),5 (1.47)

In [172]:
comorbidities = demographics.loc[17:24]
comorbidities = comorbidities.assign(Preexisting_Conditions=comorbidities.get("Unnamed: 0")).drop(columns="Unnamed: 0").set_index("Preexisting_Conditions").reset_index().loc[1:8]
comorbidities = comorbidities.drop(columns="Patients with clinically diagnosed COVID-19 (n = 563)")
comorbidities

,Preexisting_Conditions,All patients (n = 904),Patients with confirmed COVID-19 (n = 341)
1,Diabetes,136 (15.04),49 (14.37)
2,Hypertension,273 (30.20),125 (36.66)
3,Cardiovascular disease,91 (10.07),50 (14.66)
4,Nervous system disease,52 (5.75),27 (7.92)
5,Chronic kidney disease,42 (4.65),24 (7.04)
6,Chronic lung disease,22 (2.43),15 (4.40)
7,Tumor,19 (2.10),11 (3.23)

In [173]:
covid_severity_info = demographics.loc[25:28]
covid_severity_info = covid_severity_info.assign(Initial_Disease_Severity=covid_severity_info.get("Unnamed: 0")).drop(columns=["Unnamed: 0"]).set_index("Initial_Disease_Severity").reset_index().loc[1:3]
covid_severity_info = covid_severity_info.drop(columns="Patients with clinically diagnosed COVID-19 (n = 563)")
covid_severity_info

,Initial_Disease_Severity,All patients (n = 904),Patients with confirmed COVID-19 (n = 341)
1,Moderate,813 (89.93),297 (87.10)
2,Severe,82 (9.07),39 (11.44)
3,Critical,9 (1.00),5 (1.47)

In [174]:
outcomes = demographics.loc[29:33]
outcomes
clean_outcomes = outcomes.assign(Clinical_Outcomes=outcomes.get("Unnamed: 0")).drop(columns=["Unnamed: 0"]).set_index("Clinical_Outcomes").reset_index().loc[1:4]
clean_outcomes = clean_outcomes.drop(columns="Patients with clinically diagnosed COVID-19 (n = 563)")
clean_outcomes

,Clinical_Outcomes,All patients (n = 904),Patients with confirmed COVID-19 (n = 341)
1,No progression,431 (47.68),135 (39.59)
2,Severe progression,291 (32.19),107 (31.38)
3,Critical progression,90 (9.96),45 (13.20)
4,Death,92 (10.18),54 (15.84)

In [175]:
patient_count = bpd.DataFrame().assign(Patient_Group=["All Patients", "Confirmed COVID-19", "Clinically Diagnosed COVID-19"]).assign(count=[904, 341, 563])
patient_count

                   Patient_Group  count
0                   All Patients    904
1             Confirmed COVID-19    341
2  Clinically Diagnosed COVID-19    563

In [180]:
table2 = soup.findAll('div', {"class":"table-expansion"})[1]
table2
tr2 = table2.findAll(['tr'])[0:50]

In [181]:
csvFile2 = open("table2.csv", 'wt', newline='', encoding='utf-8')
writer2 = csv.writer(csvFile2)
try:
    for cell in tr2:
        th2 = cell.find_all('thead')
        th_data2 = [col.text.strip('\n') for col in th2]
        td2 = cell.find_all('td')
        row2 = [i.text.replace('\n', '') for i in td2]
        writer2.writerow(th_data2+row2)
finally:
    csvFile2.close()

In [186]:
clinical_char = bpd.read_csv("table2.csv")
clinical_char = (clinical_char
                 .drop(columns=["Unnamed: 4","Unnamed: 5","Unnamed: 6"])
                 .assign(No_Diabetes=clinical_char.get("Unnamed: 1"))
                 .assign(Diabetes=clinical_char.get("Unnamed: 2"))
                 .assign(P_Value=clinical_char.get("Unnamed: 3"))
                 .drop(columns=["Unnamed: 1", "Unnamed: 2", "Unnamed: 3", "Unnamed: 7", "Unnamed: 8"])
                )
clinical_char

,Baseline characteristics and clinical outcomes,No_Diabetes,Diabetes,P_Value
0,"Age, years",56.0 (38.0–67.0),66.0 (60.5–73.5),<0.001
1,"Hospital LOS, days",19.0 (12.0–26.0),26.0 (19.0–38.0),<0.001
2,In-hospital death,42 (14.38),12 (24.49),0.089
3,Poor prognosis,168 (57.53),38 (77.55),0.213
4,Common initial symptoms,NaN,NaN,NaN
...,...,...,...,...
39,"ESR, mm/h",37.00 (16.00–59.00),43.50 (25.50–61.00),0.130
40,Coagulation function,NaN,NaN,NaN
41,"APTT, s",28.80 (25.50–32.30),28.85 (24.3–34.18),0.720
42,"PT, s",11.50 (10.90–12.20),11.65 (10.90–12.60),0.279
43,"D-dimer, mg/L",0.50 (0.23–1.15),0.72 (0.48–2.18),0.001

In [187]:
baseline_char_outcomes = clinical_char.loc[0:3]
baseline_char_outcomes

,Baseline characteristics and clinical outcomes,No_Diabetes,Diabetes,P_Value
0,"Age, years",56.0 (38.0–67.0),66.0 (60.5–73.5),<0.001
1,"Hospital LOS, days",19.0 (12.0–26.0),26.0 (19.0–38.0),<0.001
2,In-hospital death,42 (14.38),12 (24.49),0.089
3,Poor prognosis,168 (57.53),38 (77.55),0.213

In [196]:
com_intial_symp = clinical_char.loc[5:7]
com_intial_symp = com_intial_symp.assign(Common_Initial_Symptoms=com_intial_symp.get("Baseline characteristics and clinical outcomes")).drop(columns="Baseline characteristics and clinical outcomes").set_index("Common_Initial_Symptoms").reset_index()
com_intial_symp

        Common_Initial_Symptoms  No_Diabetes    Diabetes P_Value
0   Fever (temperature ≥37.3°C)  192 (65.75)  24 (48.98)   0.036
1                         Cough  143 (48.97)  27 (55.10)   0.444
2                       Fatigue   67 (22.95)  10 (20.41)   0.845

In [206]:
comorb = clinical_char.loc[9:14]
comorb = (comorb
          .assign(Comorbidities=comorb.get("Baseline characteristics and clinical outcomes"))
          .drop(columns="Baseline characteristics and clinical outcomes")
          .set_index("Comorbidities")
          .reset_index() 
         )
comorb

             Comorbidities No_Diabetes    Diabetes P_Value
0             Hypertension  95 (32.53)  30 (61.22)  <0.001
1   Cardiovascular disease  39 (13.36)  11 (22.45)   0.124
2   Nervous system disease   19 (6.51)   8 (16.33)   0.039
3   Chronic kidney disease   19 (6.51)   5 (10.20)   0.363
4     Chronic lung disease   13 (4.45)    2 (4.08)   1.000
5                    Tumor   10 (3.42)    1 (2.04)   0.714